*-commands.sh
*.Rproj
*.xlsx
*ccr5*
.DS_Store
.Rhistory
.Rproj.user
.git
.idea
.snakemake
1000G/
SVs/
__pycache__/
_delme_/
_figs_
aaron*
aldis*
andres*
apoe*
astrid*
bed/
binned/
clues.no_mod/
clues/
data/1000G/anc/
data/1000G/map/
data/1000G/mask/
data/1000G/vcf/
data/1240k/
data/310320recomb_map/
data/Ancestral_paths/
data/Ancestral_paths_new/
data/ancestral_paths_v3/
data/alba/
data/mathieson/
data/merged_final/
data/neo.impute/
data/neo.likelihoods/
data/ukbb/NealeV2/
ensembl/
figs
gl/
gwascat/
haps/
index_files/
inv17/
isba9/
lct-sweep/
logs/
lp/
marida-ADH/
mathieson/
ms/
refbias/
relate/
rmarkdown/*.html
rsconnect/
segdups/
selection/
tmp*
tsinfer/
ukbb/
unfiltered/
utils
variants/
~*